
    Read the dataset in as a list using the csv module.
        Import the csv module.
        Open the file using the open() function.
        Use the csv.reader() function to load the opened file.
    Call list() on the result to get a list of all the data in the file.
        Assign the result to the variable data.
    Display the first 5 rows of data to verify everything.

In [5]:
import csv

f = open('guns.csv')
data = list(csv.reader(f))
print(data[0:5])

[['', 'year', 'month', 'intent', 'police', 'sex', 'age', 'race', 'hispanic', 'place', 'education'], ['1', '2012', '01', 'Suicide', '0', 'M', '34', 'Asian/Pacific Islander', '100', 'Home', '4'], ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'], ['3', '2012', '01', 'Suicide', '0', 'M', '60', 'White', '100', 'Other specified', '4'], ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', '4']]


    Extract the first row of data, and assign it to the variable headers.
    Remove the first row from data.
    Display headers.
    Display the first 5 rows of data to verify that you removed the header row properly.

In [6]:
headers = data[0]
data = data[1:]
print(headers)
print(data[0:5])

['', 'year', 'month', 'intent', 'police', 'sex', 'age', 'race', 'hispanic', 'place', 'education']
[['1', '2012', '01', 'Suicide', '0', 'M', '34', 'Asian/Pacific Islander', '100', 'Home', '4'], ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'], ['3', '2012', '01', 'Suicide', '0', 'M', '60', 'White', '100', 'Other specified', '4'], ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', '4'], ['5', '2012', '02', 'Suicide', '0', 'M', '31', 'White', '100', 'Other specified', '2']]


    Use a list comprehension to extract the year column from data.
        Because the year column is the second column in the data, you'll need to get the element at index 1 in each row.
        Assign the result to the variable years.
    Create an empty dictionary called year_counts.
    Loop through each element in years.
        If the element isn't a key in year_counts, create it, and set the value to 1.
        If the element is a key in year_counts, increment the value by one.
    Display year_counts to see how many gun deaths occur in each year.

In [7]:
years = [row[1] for row in data]
year_counts = {}
for year in years:
    if year in year_counts:
        year_counts[year] = year_counts[year] +1
    else:
        year_counts[year] = 1
year_counts

{'2012': 33563, '2013': 33636, '2014': 33599}


    Use a list comprehension to create a datetime.datetime object for each row. Assign the result to dates.
        The year column is in the second element in each row.
        The month column is the third element in each row.
        Make sure to convert year and month to integers using int().
        Pass year, month, and day=1 into the datetime.datetime() function.
    Display the first 5 rows in dates to verify everything worked.
    Count up how many times each unique date occurs in dates. Assign the result to date_counts.
        This follows a similar procedure to what we did in the last screen with year_counts.
    Display date_counts.

In [8]:
import datetime
dates = [datetime.datetime(year=int(row[1]), month = int(row[2]), day=1) for row in data]
date_counts = {}
for date in dates:
    if date in date_counts:
        date_counts[date] = date_counts[date] +1
    else:
        date_counts[date] = 1
date_counts

{datetime.datetime(2012, 1, 1, 0, 0): 2758,
 datetime.datetime(2012, 2, 1, 0, 0): 2357,
 datetime.datetime(2012, 3, 1, 0, 0): 2743,
 datetime.datetime(2012, 4, 1, 0, 0): 2795,
 datetime.datetime(2012, 5, 1, 0, 0): 2999,
 datetime.datetime(2012, 6, 1, 0, 0): 2826,
 datetime.datetime(2012, 7, 1, 0, 0): 3026,
 datetime.datetime(2012, 8, 1, 0, 0): 2954,
 datetime.datetime(2012, 9, 1, 0, 0): 2852,
 datetime.datetime(2012, 10, 1, 0, 0): 2733,
 datetime.datetime(2012, 11, 1, 0, 0): 2729,
 datetime.datetime(2012, 12, 1, 0, 0): 2791,
 datetime.datetime(2013, 1, 1, 0, 0): 2864,
 datetime.datetime(2013, 2, 1, 0, 0): 2375,
 datetime.datetime(2013, 3, 1, 0, 0): 2862,
 datetime.datetime(2013, 4, 1, 0, 0): 2798,
 datetime.datetime(2013, 5, 1, 0, 0): 2806,
 datetime.datetime(2013, 6, 1, 0, 0): 2920,
 datetime.datetime(2013, 7, 1, 0, 0): 3079,
 datetime.datetime(2013, 8, 1, 0, 0): 2859,
 datetime.datetime(2013, 9, 1, 0, 0): 2742,
 datetime.datetime(2013, 10, 1, 0, 0): 2808,
 datetime.datetime(2013, 11, 1, 0, 0): 2758,
 datetime.datetime(2013, 12, 1, 0, 0): 2765,
 datetime.datetime(2014, 1, 1, 0, 0): 2651,
 datetime.datetime(2014, 2, 1, 0, 0): 2361,
 datetime.datetime(2014, 3, 1, 0, 0): 2684,
 datetime.datetime(2014, 4, 1, 0, 0): 2862,
 datetime.datetime(2014, 5, 1, 0, 0): 2864,
 datetime.datetime(2014, 6, 1, 0, 0): 2931,
 datetime.datetime(2014, 7, 1, 0, 0): 2884,
 datetime.datetime(2014, 8, 1, 0, 0): 2970,
 datetime.datetime(2014, 9, 1, 0, 0): 2914,
 datetime.datetime(2014, 10, 1, 0, 0): 2865,
 datetime.datetime(2014, 11, 1, 0, 0): 2756,
 datetime.datetime(2014, 12, 1, 0, 0): 2857}

Count up how many times each item in the sex column occurs.

    Assign the result to sex_counts.

Count up how many times each item in the race column occurs.

    Assign the result to race_counts.

Display race_counts and sex_counts to verify your work, and see if you can spot any patterns.

In [9]:
sexes = [row[5] for row in data]
sex_counts = {}
for sex in sexes:
    if sex in sex_counts:
        sex_counts[sex] = sex_counts[sex] +1
    else:
        sex_counts[sex] = 1
sex_counts

{'F': 14449, 'M': 86349}

In [10]:
races = [row[7] for row in data]
race_counts = {}
for race in races:
    if race in race_counts:
        race_counts[race] = race_counts[race] +1
    else:
        race_counts[race] = 1
race_counts

{'Asian/Pacific Islander': 1326,
 'Black': 23296,
 'Hispanic': 9022,
 'Native American/Native Alaskan': 917,
 'White': 66237}


    Read in census.csv, and convert to a list of lists. Assign the result to the census variable.
    Display census to verify your work.

In [11]:
f = open('census.csv')
census = list(csv.reader(f))
print(census)

[['Id', 'Year', 'Id', 'Sex', 'Id', 'Hispanic Origin', 'Id', 'Id2', 'Geography', 'Total', 'Race Alone - White', 'Race Alone - Hispanic', 'Race Alone - Black or African American', 'Race Alone - American Indian and Alaska Native', 'Race Alone - Asian', 'Race Alone - Native Hawaiian and Other Pacific Islander', 'Two or More Races'], ['cen42010', 'April 1, 2010 Census', 'totsex', 'Both Sexes', 'tothisp', 'Total', '0100000US', '', 'United States', '308745538', '197318956', '44618105', '40250635', '3739506', '15159516', '674625', '6984195']]

Create a dictionary that has each race name from data as a key (see race in race_counts), and has the population count for the races from census as the values (see above).

Calculate the rate per 100000 people for each racial category. Note the names are different between the census.csv and guns.csv

In [12]:
mapping = {
    "Asian/Pacific Islander": 15159516 + 674625,
    "Native American/Native Alaskan": 3739506,
    "Black": 40250635,
    "Hispanic": 44618105,
    "White": 197318956
}

race_per_hundredk = {}
for k,v in race_counts.items():
    race_per_hundredk[k] = (v / mapping[k]) * 100000

race_per_hundredk

{'Asian/Pacific Islander': 8.374309664161762,
 'Black': 57.8773477735196,
 'Hispanic': 20.220491210910907,
 'Native American/Native Alaskan': 24.521955573811088,
 'White': 33.56849303419181}

Extract the intent column using a list comprehension. The intent column is the fourth column in data.

    Assign the result to intents.

Extract the race column using a list comprehension. The race column is the eighth column in data.

    Assign the result to races.

Create an empty dictionary called homicide_race_counts
Use the enumerate() function to loop through each item in races. The position should be assigned to the loop variable i, and the value to the loop variable race.

    Check the value at position i in intents.
    If the value at position i in intents is Homicide:
        If the key race doesn't exist in homicide_race_counts, create it.
        Add 1 to the value associated with race in homicide_race_counts.

In [19]:
intents = [row[3] for row in data]
races = [row[7] for row in data]
homicide_race_counts = {}

for i, race in enumerate(races):
    if race not in homicide_race_counts:
        homicide_race_counts[race] = 1
    if intents[i] == 'Homicide':
        homicide_race_counts[race] = homicide_race_counts[race] +1

race_per_hundredk = {}
for k,v in homicide_race_counts.items():
    race_per_hundredk[k] = (v / mapping[k]) * 100000

race_per_hundredk

{'Asian/Pacific Islander': 0.00631546731837237,
 'Black': 0.002484432854289131,
 'Hispanic': 0.0022412426525061967,
 'Native American/Native Alaskan': 0.026741500080491917,
 'White': 0.0005067936807855399}